h2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.question {
    background-color: #2c4676;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;
    padding: 10px;
    width: 80%;
    text-align: left;
    border: 1px solid lightskyblue;
    outline: none;
    transition: 0.3s;
}


.active,
.question:hover {
    background-color: lightsteelblue;
}


.answer {

    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 10px;
    margin-left: 20px;
    width: 80%;
    padding: 10px;
}

.txt-answer {
    color: black
}

.questionimg {
    right: 0;
    bottom: 0;
    width: 100px;
    height: 150px;
    position: absolute;
}

@media (min-width: 768px) {
    h2 {
        margin-top: 100px;
        font-size: 30px;
    }

    .question {
        font-size: 15px;
    }

    .answer {
        font-size: 13px;
    }
}