main {
    text-align: center;
    align-content: center;
    flex-direction: column;

}

.signup-tittle {
    margin: 50px;
    font-size: 24px;
    color: #A7CBEB;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.register-container,
.login-container {
    background-size: 100% 100%;
    border: 2px solid white;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 100px 20px;


}

.register-container {
    background-image: url("../images/myhero.jpg");
    align-items: self-end;
}

.login-container {
    background-image: url("../images//haykiuu.jpg");



}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.login-form {
    align-items: center;
}


.input-box {
    text-align: center;
    width: 100%;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2em;
    font-size: 10px;
    font-family: 'Permanent Marker', cursive;
}

.buttons-container {
    margin: 20px;

}

.alignbutton {
    text-align: right;
    align-self: stretch;

}

.signup-button {
    width: 100px;
    background-color: rgb(184, 207, 221);
}

.login-button {
    width: 100px;
    background-color: rgb(155, 233, 155);
}

.succesmessage {
    background-color: steelblue;
    box-shadow: 5px 10px lightsteelblue;
    margin: 30px 20px;
}

.errormessage {
    background-color: crimson;
    box-shadow: 5px 10px rgba(219, 83, 83, 0.76);
    margin: 30px 20px;

}

.footerend {
    margin-top: 150px;
}



@media (min-width: 768px) {

    main {
        margin-bottom: 100px;
    }

    .loginmain {
        display: flex;
        align-items: center;
    }

    .register-container {
        width: 500px;
        margin: 0 auto;
    }

    .login-container {
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
    }


    .signup-form {
        margin-left: 20px;
    }

    .signup-tittle {
        margin-top: 100px;
    }

    .input-box {

        font-size: 16px;

    }


}

@media (min-width: 1024px) {
    .footerend {
        margin-top: 200px;
    }
}