h2 {

    color: #A7CBEB;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 24px;
    text-align: center;
}

.searchhead {
    position: relative;
    margin: 75px 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsearch {
    width: 75px;
    height: 75px;
}

.select-box {
    text-align: center;
}

#genre-selector {
    font-size: 16px;
    width: 200px;
}


select#genre-selector {
    background-image:
        linear-gradient(45deg, transparent 50%, #6899c4 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select#genre-selector:focus {
    background-image:
        linear-gradient(45deg, #A7CBEB 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #A7CBEB 50%),
        linear-gradient(to right, #A7CBEB, #A7CBEB);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: #A7CBEB;
    outline: 0;
}


.anime-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;

}


.image-container {
    display: inline-block;
    position: relative;
}

.anime-img {
    margin: 10px auto;
    width: 150px;
    height: 200px;
}


.genre-badge {
    position: absolute;
    margin: 10px auto;
    top: 3px;
    right: 2px;
    text-align: center;
    font-size: 10px;
    display: inline-grid;
    background-color: #eef7ff;
    padding: 5px 7px;
    color: #000;
    font-weight: 700;
}

.anime-title {
    margin-bottom: 5px;
    font-size: 14px;
}

.anime-description {
    height: 200px;
    margin-top: 10px;
    font-size: 12px;
    text-align: justify;
    overflow: scroll;
}

.temporalimg {
    width: 175px;
    height: 250px;
}

.footerend {
    margin-top: 150px;
}



@media (min-width: 768px) {
    main {
        display: flex;
        align-items: center;
    }

    h2 {
        font-size: 30px;

    }

    .card-target {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .anime-target {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 300px;
        height: inherit;
        width: 300px;
        align-content: space-around;

    }

}


@media (min-width: 1024px) {

    .anime-target {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .anime-img {
        margin: 10px auto;
        width: 200px;
        height: 275px;
    }

    .anime-title {
        font-size: 16px;
    }

    .anime-description {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {

    h2 {
        font-size: 40px;
    }

    .imgsearch {
        width: 100px;
        height: 100px;

    }

    .footerend {
        margin-top: 250px;
    }
}