body {
    margin: 0 auto;
    font-family: 'Permanent Marker', cursive;
    background-color: black;

}



nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: #2c4676;
}

.logo {
    perspective: 1000px;
    perspective-origin: 50% 0;
    font-size: 1em;
    display: inline-flex;
    padding: 5px;
}

.logo span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    color: rgba(228, 24, 17, 0.884);
}

.logo span:nth-child(1) {
    font-size: 0.97em;
    transform: scale(65.9, 1) rotatey(89.5deg);
}

.logo span:nth-child(2) {
    font-size: 0.88em;
    transform: scale(75.9, 1) rotatey(89.5deg);
}

.logo span:nth-child(3) {
    font-size: 0.82em;
    transform: scale(106.3, 1) rotatey(89.6deg);
}

.logo span:nth-child(4) {
    font-size: 0.75em;
    transform: scale(85.9, 1) rotatey(89.5deg);
}

.logo span:nth-child(5) {
    font-size: 0.72em;
    transform: scale(1, 1) translatey(0%);
}

.logo span:nth-child(6) {
    font-size: 0.75em;
    transform: scale(92.7, 1) rotatey(-89.5deg);
}

.logo span:nth-child(7) {
    transform-origin: 0% 200%;
    font-size: 0.80em;
    transform: scale(86.9, 1) rotatey(-89.5deg);
}

.logo span:nth-child(8) {
    transform-origin: 100% 200%;
    font-size: 0.915em;
    transform: scale(85.9, 1) rotatey(-89.5deg);
}

.logo span:nth-child(9) {
    transform-origin: 75% 200%;
    font-size: 0.96em;
    transform: scale(75.9, 1) rotatey(-89.5deg);
}

.logo span:nth-child(10) {
    transform-origin: 66.66667% 200%;
    font-size: 1.035em;
    transform: scale(65.9, 1) rotatey(-89.5deg);
}



.nav-button {
    padding: 3px 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    visibility: visible;

}


.nav-button.open {
    float: none;
    text-align: left;
    margin: 0;
    visibility: visible;
    display: block;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: auto;

}

a {
    color: white;
}

.nav-button:hover {
    background-color: black;
    color: #ddd;

}


.nav-menu {
    display: none;
}



h1 {
    font-size: 30px;
    color: #A7CBEB;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

h3,
h5,
.thanks {
    color: white
}

p {
    font-family: 'Courgette', cursive;
    color: white;
}

header {
    background-image: url("/images/mobileanime.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%
}

.header-title {
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: #A7CBEB;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.headertext {
    position: absolute;
    margin-top: 50px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

.card-container {
    padding: 30px 20px 0 20px;
}


.card {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.card:nth-child(even) {
    flex-direction: row-reverse;
}

.card-description {
    margin-left: 10px;
}

.card:nth-child(even) .card-description {
    margin-right: 10px;
    margin-left: 0px;
}

.card-img {
    background: rgb(184, 182, 187);
    width: 100px;
    border: 5px solid rgb(55, 85, 105);
    height: 100px;
    border-radius: 50%;

}


.title {
    font-size: 14px;
    margin-bottom: 10px;
}

.explanation {
    font-size: 12px;
    text-align: justify;
    font-family: 'Courgette', cursive;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c4676;
    display: flex;
    justify-content: space-around;

}

.information {
    position: relative;
}



.thanks {
    font-size: 10px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}



@media (min-width: 768px) {
    .nav-button {
        display: none;
    }

    .logo {
        padding: 15px 0;
        font-size: 1.5em;
    }

    .nav-menu {
        display: flex;
        padding: 15px 0;
    }

    .nav-menu li {
        margin: 0 20px 0 0;
        color: red;
    }

    .nav-menu li a {
        color: black;
    }

    header {
        background-image: url("/images/animecharacters.jpg");
    }

    .header-title {
        font-size: 50px;
    }

    .headertext {
        font-size: 30px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        height: inherit;

    }

    .card:nth-child(even) {
        display: flex;
        flex-direction: column;
    }

    .card-img {
        margin-top: 20px;
    }

    .card-description {
        margin: 20px;
        text-align: center;
    }

    .card-description .title {
        margin-bottom: 5px;
        font-size: 1.2em;
    }

    .explanation {
        font-size: 1.1em;
    }

    .card:nth-child(even) .card-description {
        margin: 20px;
    }

    .information .title {
        font-size: 1.2em;
        margin-top: 10px;

    }

    .thanks {
        font-size: 1em;
    }

}

@media (min-width: 1024px) {
    body {
        max-width: 1300px;
        margin: 0 auto;
    }

}



h2 {
    font-size: 24px;
}